* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;

}
.container-grid-1 {
    display: grid;
    grid-template-areas: 
    'header-grid-2 header-grid-2 header-grid-2 header-grid-2 header-grid-2 header-grid-2'
    'menu-grid-3 main-grid-4 main-grid-4 main-grid-4 main-grid-4 main-grid-4'
    'footer-grid-5 footer-grid-5 footer-grid-5 footer-grid-5 footer-grid-5 footer-grid-5';
    
}
/* Styling the header */
.header-grid-2 {
    grid-area: header-grid-2;
    background-color: #f1f1f1;
    height: 300px;
    
}
/* the side menu */
.menu-grid-3{
    grid-area:  menu-grid-3;
    background-color: #d12a2a;
    height: 100%;
    width: 200px;
    text-align: center;
    font-size: 25px;
    position: fixed;
    overflow: auto;
}

/* sidebar link */
.menu-grid-3  a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: 20px;
    padding: 16px;
    color: whitesmoke;
}
a:link{text-decoration: none;}

.menu-grid-3 a.active {
    background-color: #04aa6d;
    color: aliceblue;
}
.menu-grid-3 a:hover:not(.active) {
    background-color: #555;
    color: aliceblue;
}


.main-grid-4 {
    grid-area: main-grid-4;
    text-align: center;
   

}

.footer-grid-5{
    grid-area: footer-grid-5;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    height: 200px;
    font-size: 20px;

}





