* {
    box-sizing: border-box;
}

body {
    margin: 0 5px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;

}
.container-grid-1 {
    display: grid;
    grid-template-areas: 
    'header-grid-2 header-grid-2 header-grid-2 header-grid-2 header-grid-2 header-grid-2'
    'menu-grid-3 main-grid-4 main-grid-4 main-grid-4 main-grid-4 main-grid-4'
    'footer-grid-5 footer-grid-5 footer-grid-5 footer-grid-5 footer-grid-5 footer-grid-5';
    
    
}
/* Styling the header */
.header-grid-2 {
    grid-area: header-grid-2;
    background-color: #cf3131;
    
}

/* the side menu */
.menu-grid {
    grid-area: menu-grid-3;
    background-color:#cf3131;
    height: 800px;
    width: 200px;
    text-align: center;
    font-size: 25px;
    overflow: auto;
}

/* sidebar link */
.menu-grid-3  a {
    display: flex;
    background-color: #cf3131;
    flex-direction: column;
    text-decoration: none;
    font-size: 20px;
    gap: 20px;
    padding: 16px;
    color: aliceblue;
    
}
a:link{text-decoration: none;}

.menu-grid-3 a.active {
    background-color: #04aa6d;
    color: aliceblue;
}
.menu-grid-3 a:hover:not(.active) {
    background-color: #555;
    color: aliceblue;
}


.main-grid-4 div {
    grid-area: main-grid-4;
    background-color: #ECF2FF;
    display: flex;
    text-align: center;
    font-size: 20px;  
    font-family: 'Times New Roman', Times, serif;  
}
h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.footer-grid-5 > a {
    grid-area: footer-grid-5;
    background-color: #1B4242;
    font-size: 20px;
    display: flex;
    text-align: center;
    align-items: flex-end;
    background-color: aliceblue;
    height: 100%;
    width: 100%;

}







