body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    
    
}
.header{grid-area: header;}
.navbar{ grid-area: navbar;}
.sidebar{ grid-area: sidebar;}
.main{ grid-area: main;}
.footer{ grid-area: footer;}


.container-grid {
    display: grid;
    gap: .5em;
    height: 100vh;
    grid-template-areas: 
    "header header header header header header"
    "navbar navbar navbar navbar navbar navbar "
    "aside aside main main
    "aside aside main main"
    "footer footer footer footer footer footer";
}
.header {
    margin: 0;
    padding: 0;
    background-image: url(https://imgur.com/OnnlsnC);
    

}

.navbar > a {
    display: inline;
    background-color: antiquewhite;
    text-align: center;
    padding: 14px; 
    text-decoration: none;
    font-size: 14px;
   
}
.navbar > a:hover {
    background-color: #ddd;
    color: green;
}

.sidebar {
    background-color: #A1CCD1;

}

.main{
   background-color: #FE0000; 
}

.footer .icon {
    background-color: #ddd;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    font-size: 50px;  

}
